.topbar {
    background-color: #123456;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;


}

.stackInput {
  margin-bottom: 30px;
}

.stack {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 10px;
  position: relative;
}

.stack .btn[data-action=delete] {
   position: absolute;
   top: 16px;
   right: 16px;
}

.card {
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 32px;
  margin-right: 0;
  margin-left: 0;
}

.card .btn {
    margin-left: 16px;
}