.topbar {
  background-color: #123456;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.stackInput {
  margin-bottom: 30px;
}

.stack {
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  position: relative;
}

.stack .btn[data-action=delete] {
  top: 12px;
  right: 16px;
}

.card {
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 32px;
  margin-right: 0;
  margin-left: 0;
}

.card .btn {
  margin-left: 16px;
}

.container {
  padding-bottom: 30px;
}

.footer {
  background-color: #eee;
}

h1 {
  margin-bottom: 0;
}


.icon {
  margin-left: 4px;
}

.buttons {
  max-width: fit-content;
  flex: 0;
  flex-basis: content; 
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.task-button {
  min-width: 8rem;
}

.task-title {
  font-size: 2rem;
  font-weight: lighter;
  padding-left: 0;
}

@media (max-width: 768px) { 
  .task-button:last-child {
    margin-bottom: 10px;
  }
  .buttons {
    flex-basis: min-content; 
    flex-direction: column-reverse;
  }
}

.pill {
}